**Basic repersentaion**

- list are in square brackets

In [1]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
type(list1)

list

In [3]:
list2 = [1,'A',2,'B']
list2

[1, 'A', 2, 'B']

In [4]:
list4 = [1,'A',2.2,5+6j,True]
list4

[1, 'A', 2.2, (5+6j), True]

In [7]:
l1=[10,10,10,_]
l1

[10, 10, 10, [10, 10, 10, [10, 10, 10]]]

In [8]:
list1 = [10,20,2,5,75]
list2=['Apple', 'Banana','cherry','banana']
list3=[10,20,2,5,75,'Apple','Cherry','cherry']

In [9]:
len(list3)

8

In [10]:
max(list2)

'cherry'

In [11]:
min(list2)

'Apple'

In [23]:
list1+list3

[10, 20, 2, 5, 75, 10, 20, 2, 5, 75, 'Apple', 'Cherry', 'cherry']

In [17]:
sorted(list2)

['Apple', 'Banana', 'banana', 'cherry']

In [22]:
l1 =reversed(list3)
l1

In [24]:
sum(list1)

112

In [25]:
#In interview
# Q1).sort the list without sorted function
# Q2). Find the max value without max functiom
# Q3). Find the min value without min function
# Q4). Reverse the element with out reverse function
# Q5). Sum the elements without using sum function
# Q6). Find the secound max and second min

In [26]:
list1 = [1,2,3,4]
list2 = ['A','B','C','D']
list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [28]:
list1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
list1/

TypeError: unsupported operand type(s) for /: 'list' and 'list'

**Index**

In [34]:
list1=[1,2,3,4,'A','B','C']
l1 = list1.index(1)
print(f'the postive index of 1 is {l1}')

the postive index of 1 is 0

In [44]:
list1=[1,2,3,4,'A','B','C']
for i in range(len(list1)):
    print(f"The postive number list1 is {list1[i]} is {i} ")

The postive number list1 is 1 is 0
The postive number list1 is 2 is 1
The postive number list1 is 3 is 2
The postive number list1 is 4 is 3
The postive number list1 is A is 4
The postive number list1 is B is 5
The postive number list1 is C is 6

In [47]:
list1=[1,2,3,4,'A','B','C']
for i in range(len(list1)):
    print(f"The postive number list1 is {list1[i]} is {i-len(list1)}")

The postive number list1 is 1 is -7
The postive number list1 is 2 is -6
The postive number list1 is 3 is -5
The postive number list1 is 4 is -4
The postive number list1 is A is -3
The postive number list1 is B is -2
The postive number list1 is C is -1

In [49]:
list1 = [10,[30]]
list1[1][0]

30

In [56]:
list4 = [10,20,30,'A',['Apple','Cherry']]
list4[4][1]

'Cherry'

In [73]:
list1 = ['A',['Apple','B',['Banana','c'],['Cherry','D'],['Dragon fruite']]]
list1[1][4][0]

'Dragon fruite'

In [83]:
list1 = ['Apple',['kashmir',['India',['Cricket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

**Range vs In**

- When we have use with index then go for range
- when we have use with only elements go for in

**Mutable vs Immutable**

In [2]:
list1 = [1,2,3,4,5]
list1[2] = 6
list1

[1, 2, 6, 4, 5]

- List are mutable

**Slice**

In [13]:
l1 = [10,20,30,40,50,'a','b','c','d','apple','banana']
#l1[:]
#l1[::]
#l1[::-1]
l1[10:2:-2]

['banana', 'd', 'b', 50]

**methods**

- If we wants to know about list methods

In [14]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
l1 = [12,32,43,23,54,23]
l2=l1.copy()
#l1.clear()
l2

[12, 32, 43, 23, 54, 23]

In [30]:
l1.count(23)

2

In [23]:
l1.clear()

In [24]:
l1

[]

**append**

- append is very important method in the entire list
- in our life we will use this method very very frequently
- append means adding an element at last

In [32]:
l1 = ['a','b','c']
l1.append('apple')
l1

['a', 'b', 'c', 'apple']

In [33]:
l1 = ['apple','banana','cherry']
l1.append('pineapple')
l1.append('pinkapple')
l1

['apple', 'banana', 'cherry', 'pineapple', 'pinkapple']

In [34]:
l1 = ['apple','banana','cherry']
l1.append(['cherry1','banana1'])
l1

['apple', 'banana', 'cherry', ['cherry1', 'banana1']]

**Case-2**
- Append method is used to sotre the outputs

In [42]:
# For example i want to append a numbers from 1 to 5
# l=[1,2,3,4,5]

l =[]
for i in range(1,6):
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [51]:
#wap aks the user enter the 3 random numbers
#and perform the square  of the numbers,save those squares in a list

import random
l = []
for i in range(3):
    num = random.randint(1,100)
    l.append(num)
    l1 = num*num
    print(f"{num}",l1)

32 1024
58 3364
46 2116

In [68]:
l=[10,47,53,12,27]
eve = []
odd = []
for i in l:
    if i%2==0:
        eve.append(i)
    elif i%2!=0:
        odd.append(i)
print(odd)
print(eve)

[47, 53, 27]
[10, 12]

**Extend**

In [6]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [10]:
l1 = [1,2,3,4,5,6]
l2 = ['A','B','C','D','E']
l1+l2

[1, 2, 3, 4, 5, 6, 'A', 'B', 'C', 'D', 'E']

In [11]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D']]

In [13]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
print(l1+l2)
print(l1)
print(l2)
print("############################")
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
############################
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**Index**
- strings we have index and find
- but in list we have only index
- same as string concept

In [15]:
l1 = [1,2,3,4,5,'A','B','C','D',5,6]
n=l1.index(5)
n1 = l1.index(5,n+1)
n1

9

**Insert**
- difference between append and insert

In [22]:
l1 = [1,2,3,4,5,'A','B','C','D',5,6]
n = l1.index('A')
n1 = l1.insert(n+1,'Apple')
l1

[1, 2, 3, 4, 5, 'A', 'Apple', 'B', 'C', 'D', 5, 6]

In [24]:
l1 = [1,2,3,4,5,'A','B','C','D',5,6]
l1.append("banana")
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']

**pop vs remove**

In [26]:
l1 = [1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']
l1.pop()
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6]

In [30]:
l1 = [1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']
l1.pop(5)
l1

[1, 2, 3, 4, 5, 'B', 'C', 'D', 5, 6, 'banana']

In [28]:
l1 = [1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']
l1.remove('A')
l1

[1, 2, 3, 4, 5, 'B', 'C', 'D', 5, 6, 'banana']

In [32]:
l1 = [1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']
del[l1[5]]
l1

[1, 2, 3, 4, 5, 'B', 'C', 'D', 5, 6, 'banana']

- IF we want delete nay element
- pop : based on index
- remove : based on value
- del is an inbuilt function

In [33]:
l1 = [1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 5, 6, 'banana']
del[l1]
l1

NameError: name 'l1' is not defined

**reverse-reversed**

- reverse is a method
- reversed is an inbuilt function

**in place**

- when we perfrom the operation some time the values will not overwrite
- if we see inplace word or inplace = Ture
- this indicates the outout will be overwrite in correponding variable

In [35]:
l1 = [1,2,3,4,5]
l1.reverse()
l1

[5, 4, 3, 2, 1]

In [45]:
l1 = [20,50,39,50]
a=reversed(l1)
print(list(a))

[50, 39, 50, 20]

**sorted-sort**

In [38]:
l1 = [20,10,80,40,30]
l1.sort()
l1

[10, 20, 30, 40, 80]

In [39]:
l1 = [20,10,80,40,30]
sorted(l1)

[10, 20, 30, 40, 80]

**List comprehension**

##List comprehension

- List comprehension a way to write list operations in a single line
- when we apply for loop and if-else condition statement then the code compilation becomes slow
- which means it takes much time
- in order to avoid the time complexity we will use list comprehension
- list comprehension is a single line code

**Case-1 Only for loop**

In [2]:
list1 = []
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list1 = [i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l1 = ['hyd','bangaluru','mumbai','pune']
l2 = [i.title() for i in l1 ]
l2

['Hyd', 'Bangaluru', 'Mumbai', 'Pune']

In [5]:
l1 = ['hyd','bangaluru','mumbai','pune']
l2 = [i.upper() for i in l1]
l2

['HYD', 'BANGALURU', 'MUMBAI', 'PUNE']

In [9]:
l1 = ['hyd','bangaluru','mumbai','pune']
l2 = [l1.index(i)*10 for i in l1]
l2

[0, 10, 20, 30]

In [29]:
l1 = ['hyd','bangaluru','mumbai','pune']
l2 = 0
[l2:=l2+i for i in range(len(l1))]
l2

6

**Case-2: for loop if condition**

In [35]:
even_list = []
[f"even:{i}" for i in range(1,10) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8']

In [37]:
l1 = ['hyd','bang#aluru','mum#bai','pune']
[i for i in l1 if '#'in i]

['bang#aluru', 'mum#bai']

In [38]:
l1 = ['hyd','bang#aluru','mum#bai','pune']
[i for i in l1 if '#'not in i]

['hyd', 'pune']

In [ ]:
Case - 1 for loop:[<output><for loop>]
Case - 2 for-if:[<output><for loop><if condi>]
Case - 3 for-if-else:[<if out><if condi> else<else out><>]

In [55]:
l1 = [1,2,3,4,5,6]
[f"even:{l1[i]}"  for i in range(len(l1))  if l1[i]%2 == 0]

['even:2', 'even:4', 'even:6']

In [3]:
l1 =[45,76,89,53,67,90,82,49,33,99]
[ i for i in l1 if i >=50]

[76, 89, 53, 67, 90, 82, 99]

In [26]:
[f'{i} :A grade' if i >=85 else f'{i} :B grade' if i >=70 else f'{i} :C grad' if i>=50 else f'{i} :F grade'  for i in l1]

['45 :F grade',
 '76 :B grade',
 '89 :A grade',
 '53 :C grad',
 '67 :C grad',
 '90 :A grade',
 '82 :B grade',
 '49 :F grade',
 '33 :F grade',
 '99 :A grade']

In [27]:
[i+5 for i in l1 if i <50]

[50, 54, 38]

In [29]:
l1 =[45,76,89,53,67,90,82,49,33,99]
[max_val for i in range(3) max_val = max(l1) i.remove(max_val)]

SyntaxError: invalid syntax (639966770.py, line 2)

**distance between two points**

In [45]:
l1 = [[1,2],[4,5],[7,9]]
l2 = [10,20]
#find the distance between l2 with all other points from l1
#which is the maximum distance give me that 

d1 = (l2[0]-l1[0][0])**2
d2 = (l2[1] - l1[0][1])**2
d3 =(d1+d2)**(1/2)
d3
c1 = (l2[0]-l1[1][0])**2
c2 = (l2[1]-l1[1][1])**2
c = (c1+c2)**(1/2)
c
a1 = (l2[0]-l1[2][0])**2
a2 = (l2[1]-l1[2][1])**2
a =(a1+a2)**(1/2)
a

max(d3,c,a)

20.12461179749811

In [46]:
name = ['Ramesh','Suresh','Sathish']
age = [20,25,30]
for i in range(len(name)):
    print(f"{name[i]} and age {age[i]}")

Ramesh and age 20
Suresh and age 25
Sathish and age 30

**Zip**

In [48]:
name = ['Ramesh','Suresh','Sathish']
age = [20,25,30]
for i,j in zip(name,age):
    print(f"{i} and age {j}")

Ramesh and age 20
Suresh and age 25
Sathish and age 30

In [11]:
# how to sort the list

l1 = [2,84,4,23,545,66,22,4433,12,554,2389,232,23,656]

for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]>l1[j]:
            l1[i],l1[j]=l1[j],l1[i]
print(l1)

[2, 4, 12, 22, 23, 23, 66, 84, 232, 545, 554, 656, 2389, 4433]

In [18]:
# how to find the maximum value of the list
l1 = [2,84,4,23,545,66,22,4433,12,554,2389,232,23,656]

for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]>l1[j]:
            l1[j]=l1[i]
print(l1[i])

4433

In [19]:
# how to find the minimum value of the list

l1 = [2,84,4,23,545,66,22,4433,12,554,2389,232,23,656]

for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]<l1[j]:
            l1[j]=l1[i]
print(l1[i])

2

In [62]:
# how to find the second maximum value of the list

li1 = [2,84,4,23,545,66,22,4433,12,554,2389,232,23,656]
li2 = 0
li3 = 0
for i in li1:
    if i >li2:
        li3=li2
        li2=i
    elif i >li3 and i !=li2:
        li3 = i
print(li3)

2389

In [1]:
# how to find the second minimum value of the list

li1 = [84,4,23,545,1,66,22,4433,12,554,2389,232,656]
li2 = li1[0]
li3 = li1[0]
for i in li1:
    if i < li2:
        li2=li3
        li3=i
    elif i < li3 and i !=li2:
        li3 = i
print(li3)
print(li2)

12
1